#services_list_view {
  margin: 0 10 0 10;
  background-color: #0E151D;
  height: 100%;
  separator-color: #d3d3d3;  
}

.list-item {
  background-color: #0e151d;
  padding: 10 0 15 0;
}

.service-label {
    font-size: 14;
    color: #f8f8f8;
    padding: 8;
}
.service-data {
    font-size: 14;
    color: #b2005e;
    padding: 8;
    horizontal-align: right;
    text-align: right;
}

/*
.item-button {
    background-color: transparent;
    border-color: #00FFFFFF;
    border-width: 1 1 1 1;
    horizontal-align: center;
    font-size: 22;
    margin: 10 0 4 0;
}*/
